args==0.1.0
arrow==1.2.3
asgiref==3.7.2
asn1crypto==1.5.1
astroid==2.15.6
async-timeout==4.0.2
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
Babel==2.12.1
beautifulsoup4==4.12.2
black==23.7.0
Brotli==1.0.9
cairocffi==1.6.0
CairoSVG==2.7.0
certifi==2023.5.7
cffi==1.15.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.6
clint==0.5.1
colorama==0.4.6
constantly==15.1.0
coverage==7.2.7
crispy-bootstrap4==2022.1
cryptography==41.0.2
cssselect2==0.7.0
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.6
dj-database-url==2.0.0
Django==4.2.3
django-admin-honeypot==1.1.0
django-allauth==0.54.0
django-appconf==1.0.5
django-channels==0.7.0
django-ckeditor==6.6.1
django-compressor==4.4
django-crispy-forms==2.0
django-debug-toolbar==4.1.0
django-encrypted-model-fields==0.6.5
django-filter==23.2
django-guardian==2.4.0
django-haystack==3.2.1
django-hosts==5.2
django-js-asset==2.1.0
django-markdown==0.8.4
django-phonenumber-field==7.1.0
django-redis==5.3.0
django-request==1.6.3
django-softdelete==0.10.5
django-tables2==2.6.0
django-taggit==4.0.0
django-urlcrypt==0.1.6
django-weasyprint==2.2.0
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
easy-thumbnails==2.8.5
elastic-transport==8.4.0
elasticsearch==8.8.2
filelock==3.12.2
flake8==6.0.0
fonttools==4.41.0
googledrivedownloader==0.4
holidays==0.28
html5lib==1.1
hurry.filesize==0.9
hyperlink==21.0.0
identify==2.5.26
idna==3.4
incremental==22.10.0
isort==5.12.0
Jinja2==3.1.2
lazy-object-proxy==1.9.0
Markdown==3.4.3
MarkupSafe==2.1.3
mccabe==0.7.0
mpmath==1.3.0
msal==1.23.0
mypy==1.4.1
mypy-extensions==1.0.0
mysqlclient==2.2.0
nodeenv==1.8.0
numpy==1.25.1
oauthlib==3.2.2
packaging==23.1
pandas==2.0.3
pathspec==0.11.1
phonenumbers==8.13.16
phonenumberslite==8.13.16
Pillow==10.0.0
pipenv==2023.7.11
platformdirs==3.8.1
pre-commit==3.3.3
psycopg2==2.9.6
psycopg2-binary==2.9.6
pycodestyle==2.10.0
pycparser==2.21
pydyf==0.7.0
pyflakes==3.0.1
PyHamcrest==2.0.4
PyJWT==2.7.0
pylint==2.17.4
pyphen==0.14.0
PySocks==1.7.1
pysolr==3.9.0
pytest
python-dateutil==2.8.2
python-decouple==3.8
python3-openid==3.2.0
pytube==15.0.0
pytz==2023.3
PyYAML==6.0.1
rcssmin==1.1.1
redis==4.6.0
reportlab==4.0.4
requests==2.31.0
requests-oauthlib==1.3.1
rjsmin==1.2.1
serious-django-permissions==0.17
six==1.16.0
soupsieve==2.4.1
South==1.0.2
sqlparse==0.4.4
sympy==1.12
tensorboard-data-server==0.7.1
tifffile==2023.7.18
tinycss2==1.2.1
tomli==2.0.1
tomlkit==0.11.8
tqdm==4.65.0
tweepy==4.14.0
txaio==23.1.1
types-PyYAML==6.0.12.11
types-requests==2.31.0.2
types-urllib3==1.26.25.14
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
virtualenv==20.23.1
virtualenv-clone==0.5.7
weasyprint==59.0
webencodings==0.5.1
Werkzeug==2.3.6
wget==3.2
Whoosh==2.7.4
wrapt==1.15.0
zope.interface==6.0
zopfli==0.2.2
